<app-header [title]="namePage"></app-header>

<ion-content>
  <form autocomplete="off" [formGroup]="skusForm" (ngSubmit)="addSku()">
    <ion-card class="cardSticky">
      <ion-card-content>
        <ion-grid fixed>
          <ion-row>
            <ion-col size="8">
              <mat-form-field appearance="outline">
                <mat-label>SKU</mat-label>
                <input
                  type="number"
                  matInput
                  formControlName="sku"
                  placeholder="123456789"
                />
                <mat-error>Campo requerido</mat-error>
              </mat-form-field>
            </ion-col>
            <ion-col size="4" class="ion-padding-top">
              <button
                type="button"
                mat-raised-button
                color="primary"
                (click)="newSkau()"
                [disabled]="skusArr ? false : true"
              >
                Nuevo SKU
              </button>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="8">
              <mat-form-field appearance="outline">
                <mat-label>Total</mat-label>
                <input
                  type="number"
                  readonly
                  matInput
                  formControlName="total"
                  placeholder="123456789"
                />
                <mat-error>Debe de ser mayor a 0</mat-error>
              </mat-form-field>
            </ion-col>
            <ion-col size="4" class="ion-padding-top">
              <button mat-raised-button color="primary">Guardar</button>
            </ion-col>
          </ion-row>
          <ion-row *ngIf="skusArr">
            <ion-col size="12">
              <button
                type="button"
                mat-raised-button
                class="exportSkus"
                color="accent"
                (click)="exportSkus()"
              >
                Exportar SKU'S
              </button>
            </ion-col>
          </ion-row>
          <hr />
          <ion-row>
            <ion-col size="12">
              <mat-form-field appearance="outline">
                <mat-label>Scanner</mat-label>
                <input
                  type="number"
                  matInput
                  [formControl]="newQuantity"
                  (keyup)="addQuantity()"
                  placeholder="123456789"
                />
              </mat-form-field>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="2" class="ion-padding-top">
              <button mat-mini-fab class="buttonDisabled" disabled>
                {{ quantityLength }}
              </button>
            </ion-col>
            <ion-col size="10">
              <mat-form-field appearance="outline">
                <mat-label>Cantidad</mat-label>
                <input
                  type="number"
                  readonly
                  matInput
                  placeholder="123456789"
                  [value]="quantityEndArr"
                />
              </mat-form-field>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-content>
    </ion-card>
    <ion-grid class="gridQuantity">
      <div class="divQuantity" formArrayName="quantity">
        <div *ngFor="let quantity of quantityArr.controls; let i = index">
          <ion-row>
            <ion-col size="2" class="ion-padding-top">
              <div class="ion-text-center">
                <button mat-mini-fab class="buttonDisabled" disabled>
                  {{ i + 1 }}
                </button>
              </div>
            </ion-col>
            <ion-col size="10">
              <mat-form-field appearance="outline">
                <input
                  type="number"
                  readonly
                  matInput
                  [formControlName]="i"
                  placeholder="123456789"
                />
                <button
                  type="button"
                  matSuffix
                  mat-icon-button
                  aria-label="Clear"
                  (click)="deleteQuantity(i)"
                >
                  <mat-icon>close</mat-icon>
                </button>
              </mat-form-field>
            </ion-col>
          </ion-row>
        </div>
      </div>
    </ion-grid>
  </form>
</ion-content>
